<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <h1>{{title}}</h1>
    <p>
      Contador: {{counter}}
    </p>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
  </section>
  <section>
    <div *ngFor="let photos of photos">
      <h3> {{ photos.title }} </h3>
      <img [src]="photos.url" alt="{{photos.title}}">
    </div>
  </section>
</body>
</html>